fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.20
dotenv==0.9.9
pydantic-settings==2.9.1
aiofiles==24.1.0
PyMuPDF==1.25.5
langchain==0.3.24
motor==3.7.0
openai==1.77.0
cohere==5.15.0
qdrant-client==1.14.0
torch==2.7.0
sentence-transformers>=3.1.0
torchvision==0.22.0
SQLAlchemy==2.0.40
asyncpg==0.30.0
alembic==1.16.1
psycopg2==2.9.10
huggingface_hub==0.31.1
nltk==3.9.1
tqdm==4.67.1
prometheus-client==0.22.1
starlette_exporter==0.23.0
fastapi-health==0.4.0
davia==0.1.13
uv==0.7.13
streamlit==1.35.0

